# Ubuntu 14.04 Trusty support
sudo: required
dist: trusty

language: cpp
compiler:
  - clang
before_install:
  - sudo apt-get update -qq && sudo apt-get install -qq libboost-graph-dev
script:
  - cd compiler-plugin
  - ./build_plugin
  - cd ../runtime
  - ./tools/run_tests true
